@font-face {
  font-family: 'IBMPlexSansKR-Regular';
  src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_20-07@1.0/IBMPlexSansKR-Regular.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

html, body {  /* header, footer 공백없이 body 붙이기 위함*/
  margin: 0;
  padding: 0;
  font-family: 'IBMPlexSansKR-Regular';
}

body {
  background-color: whitesmoke;
}

.nav {
  margin: 0 auto;
  border-bottom: 2px dotted;
}


.nav #kategorie {
  margin-left: 35px;
  text-align: center;
}

.nav #login {
  float: right;
}

.nav ul li {
  padding: 27px;
  display: inline-block;
  font-size: 16px;
}

.nav ul li a {
  text-decoration: none;
  color: inherit;
}

.nav ul li a:hover {
  box-shadow: 0 0 1px rgba(0, 0, 0, 0.3);
  color:rgba(0,0,0,1);
}

.newjeans {
  background-image : url('./mainpageimg/newjeans.png');
  background-size: cover;
  background-position: center center;
  display: flex;
  margin: 0 auto;
  text-align: center;
  height: 720px;
}

.model {
  height: 720px;
  display: flex;
}

.model1 {
  width: 850px;
  background-image : url('./mainpageimg/main3.jpg');
  background-size: cover;
  background-position: center center;
}

.model2 {
  width: 1200px;
  background-image : url('./mainpageimg/main4.jpg');
  background-size: cover;
  background-position: center center;
}

footer {
  height: 65px;
  background: black;
  color: rgb(163, 163, 163);
  font-size: 8px;
}

footer ul {
  margin-left: 20px;
  list-style: none;
}

.top {
  display: flex;
  flex-wrap: wrap; /* 브라우저 사이즈가 줄어들면 자동으로 여려 줄 표시*/
}


.product { /* 공통적으로 사용할 div product 클래스명*/
  width: 400px;
  height: 400px;
  padding: 3rem;
  margin: 3rem;
  text-align: center;
}

.product:hover {
  background-color: white;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.5);
}

h3, p {
  color: black;
  text-decoration: none;
}

.detail { /*상품 상세정보 스타일*/
  text-align: center;
  margin-top: 25px;
}
.detail #buy {
  margin-top: 10px;
  margin-bottom: 10px;
  background-color: violet;
  width: 150px;
  height: 50px;
  color:black;
  font-size: 19px;
  font-weight: bolder;
  cursor: pointer;
}

.detail #cart {
  margin-top: 10px;
  margin-left: 10px;
  margin-bottom: 10px;
  background-color: aqua;
  width: 100px;
  height: 50px;
  color:black;
  font-size: 19px;
  font-weight: bolder;
  cursor: pointer;
}


.selectedLists {
  margin: 0 auto;
  width: 300px;
  margin-top: 10px;
  border-bottom: 1px double;
}

.sizechoice {
  margin-right: 5px;
}




* { /*footer 윗여백 없애기 위함*/
  margin: 0;
  padding: 0;
}